.footer-right {

  .western-social-media li {
    background: none;
    padding: 0;
  } // .western-social-media li

  .western-contact {

    a {
      text-decoration: underline;
    } // a

  } // .western-contact

} // .footer-right
