.program-intro {

  .instructor-field a:visited {
    color: #0070b6;
  }
		
  img {
    display: block;
  } // img

  h2 {
    margin-top: 50px;

    @media (max-width: breakpoint(xsmall)) {
      margin-top: 25px;
    } // @media (max-width: breakpoint(xsmall))

  } // h2

} // .program-intro
